<!doctype html>
<html>
<head>
    <meta charset="utf-8">
        <title>详情页面模板</title>
    </meta>
</head>

<body>

<!----中间----->
<div>
    <!----这里以生成商品名称为例、生产环境中商品属性不止于此----->
    <p class="imgname">${name}</p>
    <p class="Aprice">价格：<samp>￥89.00</samp></p>
    <p class="price">促销价：<samp>￥49.00</samp></p>
    <p class="youhui">店铺优惠：<samp>购物满两件打八折</samp></p>
    <p class="kefu">客服：</p>
    <ul>
        <li class="kuanshi">款式：</li>
        <li class="now shopimg"><a href="#" title="熊猫套装"></a></li>
        <li class="shopimg"><a href="#" title="铁塔套装"></a></li>
        <li class="shopimg"><a href="#" title="创意胡子"></a></li>
        <li class="shopimg"><a href="#" title="四色小猫"></a></li>
    </ul>
</div>

</body>

</html>